/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@500&display=swap');

:root {
  --orange: #d5580a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nunito, sans-serif;
}
body {
  height: 100%;
  background-image: url("assets/backgound.jpg");
  background-attachment: fixed;
}
