/* You can add global styles to this file, and also import other style files */
:root {
  --orange: #d5580a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nunito;
}
body {
  min-height: 200vh;
  background-color: #ccc;
  background-image: url("assets/backgound.jpg");
  background-attachment: fixed;
}
