<div class="main-container">
  <div class="main">
    <h1>Köszöntelek a
      <span class="logo"><span>könyv</span><span>shop</span></span> oldalán!</h1>
    <div>
      Az oldalon böngészhetsz sok-sok különböző műfajú és témájú könyv közül.
    </div>
    <div>
      Megtalálhatóak külföldi és hazai szerzők egyaránt.
    </div>
    <div class="last-div">Böngéssz és vásárolj kedvező áron!</div>
    <button mat-raised-button color="primary" routerLink="/products">Tovább<mat-icon>arrow_right_alt</mat-icon></button>
  </div>
  <!--<img src="assets/book-icon.png" alt="image">-->
</div>

