<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (onCloseSidenav)="onClose($event, sidenav)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="logo" routerLink="main"><span>könyv</span><span>shop</span></div>
      <nav fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="menu">
          <li><a routerLink="main">kezdőlap</a></li>
          <li><a routerLink="products">könyvek</a></li>
          <li><a routerLink="cart">kosár</a></li>
          <li><a routerLink="login">belépés</a></li>
          <li><a routerLink="signup">regisztráció</a></li>
        </ul>
      </nav>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
