.products-container {
  min-height: 90vh;
}

.products {
  width: 70%;
  margin: 0 auto 100px auto;
  border-collapse: collapse;
}

.products-img img {
  height: 175px;
  width: 125px;
  margin: 0;
}

.products-img {
  width: 150px;
}

.products tr {
  background-color: #eeeeee;
  z-index: 0;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.author, .publisher, .genre, .pages-id {
  font-style: italic;
  font-size: 14px;
}

.pages-id, .description {
  margin-top: 6px;
}

.genre::first-letter {
  text-transform: uppercase;
}

.tocart-button {
  width: 150px;
}

.tocart-button button {
  height: 40px;
  width: 120px;
  background-color: var(--orange);
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  color: #eeeeee;
  border: none;
  position: relative;
  top: 0;
  left: 15px;
  box-shadow: 0 1px 10px 0 #666;
  text-align: center;
}

.price {
  position: relative;
  bottom: -10px;
  left: 47px;
  font-weight: bold;
}

mat-icon {
  position: relative;
  top: 4px;
}

.searchbar {
  width: 70%;
  margin: 100px auto 0 auto;
  background-color: #eeeeee;
}

.searchbar input {
  width: 250px;
  height: 32px;
  border: 1px solid var(--orange);
  border-radius: 5px;
  margin: 10px 0 10px 10px;
  padding-left: 5px;
}

.searchbar mat-icon {
  position: relative;
  left: -30px;
  top: 8px;
}

.searchbar mat-icon {
  cursor: pointer;
}

.searchbar mat-icon:hover {
  color: var(--orange);
}

.searchbar input:focus {
  outline: none;
  border: 2px solid var(--orange)
}


// HOVER EFFECTS

.tocart-button button:hover {
  background-color: #e3661f;
  transition: all 0.3s ease 0s;
  box-shadow: 0 5px 10px 0 #666;
}

.products tr:hover {
  background-color: #cccccc;
}

// HOVER EFFECTS END

@media screen and (max-width: 959px) {
  .products, .searchbar {
    width: 100%;
    margin-right: 0;
  }

  .tocart-button {
    width: 100px;
  }

  .tocart-button button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    left: 45px;
  }

  .price {
    left: 40px
  }

  .products tr:hover {
    background-color: #eeeeee;
  }
}


@media screen and (max-width: 400px) {
  .tocart-button button {
    left: 30px;
  }

  .price {
    left: 25px;
  }

}

