.products {
  width: 70%;
  margin: 100px auto;
  border-collapse: collapse;
}

.products-img img {
  height: 175px;
  width: 125px;
  margin: 0;
  cursor: pointer;
}

.products-img {
  width: 150px;
}

.products tr {
  background-color: #eeeeee;
  z-index: 0;
}

.title {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.author, .publisher, .genre {
  font-style: italic;
  font-size: 14px;
}

.genre::first-letter {
  text-transform: uppercase;
}

.tocart-button {
  width: 150px;
}

.tocart-button button {
  height: 40px;
  width: 120px;
  background-color: var(--orange);
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  color: #eeeeee;
  border: none;
  position: relative;
  top: 0;
  left: 15px;
  box-shadow: 0 1px 10px 0 #666;
}

.price {
  position: relative;
  bottom: -10px;
  left: 47px;
}

.tocart-button button:hover {
  background-color: #e3661f;
  transition: all 0.3s ease 0s;
  box-shadow: 0 5px 10px 0 #666;
}

.products tr:hover {
  background-color: #cccccc;
}

.title:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}


