<table class="products">
  <tr *ngFor="let row of books_array">
    <td class="products-img">
        <img [src]="'assets/imgs-book/' + row['img'] + '.JPG'" alt="image">
    </td>
    <td class="products-desc">
      <div class="title">{{row['title']}}</div>
      <div class="author">{{row['author']}}</div>
      <div class="publisher">{{row['publisher']}}, {{row['year']}}</div>
      <div class="description">{{row['description'].substr(0,250)}}...</div>
    </td>
    <td class="tocart-button">
      <button (click)="putToCart(row)">kosárba</button>
      <div class="price">{{row['price']}} Ft</div>
    </td>
  </tr>
</table>

