<mat-card fxFlex>
  <img class="book-img" [src]="'../../../../assets/imgs-book/' + bookObject['img'] + '.JPG'" alt="image">
  <div>
    <div class="book-title">{{bookObject['title']}}</div>
    <div class="book-author">{{bookObject['author']}}</div>
    <div class="book-publisher">{{bookObject['publisher']}}, {{bookObject['year']}}</div>
    <div class="book-genre">{{bookObject['genre']}}</div>
  </div>
  <span>Összefoglaló:</span>
  <div class="book-desc">{{bookObject['description']}}</div>
  <span class="book-price">{{bookObject['price']}} Ft</span>
  <button class="tocart-button">kosárba</button>
  <span>{{bookObject['price']}} oldal - ISBN: {{bookObject['id']}}</span>
</mat-card>
