.login-container {
  height: 100vh;
}

.login-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #eeeeee;
  margin: auto auto;
  margin-top: 10%;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 10px 3px #222;
}

span {
  padding: 5px;
}

mat-form-field {
  width: 50%;
}

button {
  color: #eeeeee;
  margin-top: 16px;
}

h1 {
  margin-top: 32px;
}

.button-span {
  margin-bottom: 32px;
}



