mat-card {
  height: 50vh;
  width: 70%;
  margin: 15vh auto 35vh auto;
  padding: 20vh 0;
  background-color: rgba(238, 238, 238, 0.8);
}

mat-card-content {
  text-align: center;
  justify-content: center;
}

h1:first-child {
  font-size: 100px;
  color: darkred;
}

h1:last-child {
  padding-top: 20px;
  font-size: 50px;
}

@media screen and (max-width: 959px) {
  mat-card {
    width: 100%;
  }

  h1:first-child {
    font-size: 80px;
  }
  h1:last-child {
    font-size: 30px;
  }
}
